/*
 * Copyright (c) 2025 SMID Project
 * Description: MIPI DBI Overlay for ST7796S (Cleaned for Zephyr 3.7)
 */

/ {
	chosen {
		zephyr,display = &st7796s;
	};

	mipi_dbi {
		compatible = "zephyr,mipi-dbi-spi";
		status = "okay";
		spi-dev = <&spi2>;
		
		/* Controles do Barramento */
		dc-gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
		
		write-only;
		#address-cells = <1>;
		#size-cells = <0>;

		st7796s: st7796s@0 {
			compatible = "sitronix,st7796s";
			status = "okay";
			reg = <0>;
			mipi-max-frequency = <40000000>;
			
			width = <320>;
			height = <480>;
			
			/* REMOVIDO: rotation (Não suportado no YAML) */
			/* REMOVIDO: pixel-format (Driver assume RGB565 auto) */

			/* Calibração Gamma (Obrigatória) */
			pgc = [F0 09 0B 06 04 15 2F 54 42 3C 17 14 18 1B];
			ngc = [E0 09 0B 06 04 03 2B 43 42 3B 16 14 17 1B];
		};
	};
};

&spi2 {
	status = "okay";
	pinctrl-0 = <&spim2_default>;
	pinctrl-names = "default";
	cs-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
};

&pinctrl {
	spim2_default: spim2_default {
		group1 {
			pinmux = <SPIM2_MISO_GPIO13>,
				     <SPIM2_MOSI_GPIO11>,
				     <SPIM2_SCLK_GPIO12>;
		};
	};
};
